#Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/
.eggs/
*.egg

#Dataset & large data files
data/
*.npy
*.npz

# OS & IDE
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
*.swo

#Jupyter
.ipynb_checkpoints/
*.ipynb

#Env
.env
venv/
env/
.venv/
